<h1>Create New Author</h1>

<%= form_for(@author) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :phone_number %>
  <%= f.phone_field :phone_number %>
  <%= f.submit %>
<% end %>

<% if @author.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@article.errors.count, "error") %>
      prohibited this article from being saved:
    </h2>

    <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
