<!DOCTYPE html>
<html>
<head>
  <title>ActiverecordValidationsLab</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if @author.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@author.errors.count, "error") %>
      prohibited this article from being saved:
    </h2>

    <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= yield %>

</body>
</html>
